.main {
  padding: 20px;
  background-color: #efede9;
}

.main .breadcrumbs {
  text-align: center;
  font-size: 15px;
  letter-spacing: 2.88px;
}

.main .breadcrumbs a {
  display: inline-block;
  border-bottom: 0.5px solid #bbb;
  padding: 0;
  color: #8f1d1e;
  margin-bottom: 15px;
}

.main .breadcrumbs a:hover {
  color: #4a4949;
}

.main .rowone {
  height: 500px;
  width: 1072px;
  background-color: #fff;
  padding: 0px 15px;
  position: relative;
  margin: 0 auto;
}

.rowone .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  position: absolute;
  top: 50%;
  color: black;
}
.rowone .material-symbols-outlined:last-child {
  right: 15px;
}

.rowone .heroslide {
  width: 365px;
  height: 459px;

  position: absolute;
  left: 80px;
  top: 10px;
  padding-left: 20px;
}

.rowone .heroslide a {
  width: 365px;
  height: 459px;
  display: inline-block;
  background-image: url(../images/T5098_01.jfif);
  background-size: contain;
}

.rowone .content {
  width: 486px;
  height: 459px;

  position: absolute;
  right: 40px;
  top: 10px;
  padding-right: 20px;
}

.rowone .content h3 {
  font-style: italic;
  line-height: 26px;
  display: block;
  margin-top: 120px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #aaa59c;
}

.rowone .content a span {
  font-size: 18px;
  color: #89837a;
}

.rowone .content .publication-author {
  font-size: 24px;
  color: #8f1d1e;
}

.rowone .content .publication-author i {
  font-style: italic;
}
.rowone .content p {
  font-size: 16px;
  color: #aaa59c;
}
